html{
    height: 100%;
}

body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.body-home{
    background-image: url(images/landscape.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.body-meals{
    background-image: url(images/landscape.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ===================Header===================== */
.header {
    background-color: #2196f3;
    width: 100%;
    height: 50PX;
    top: 0;

    position: fixed;
    overflow: hidden;
    text-align: center;
}

.header i {
    float: left;
    padding: 17px 0px 0px 17px;
    color: #ffffff;
}

.header img {
    width: 200px;
    padding-top: 10px;
    padding-right:25px ;
}



/* ===================Home=Page===================== */


#home-logo-img{
    width: 400px;
    display: block;
    margin: auto;
    padding: 0px 0px 0px 0px;

}

#home-logo-text{
    width: auto;
    display: block;
    margin: auto;
    padding: 25px;
}

/* ====Menu=Home=Page==== */
.home-menu-item{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: 5px dashed black;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 70%;
}
/* ========meals=Page========= */

.meals-list a{
text-decoration: none;
}

.meals-list-item{
    border: 5px solid #1a1a1a;
    margin: 10px;
}

.meals-list-item h1{
font-weight: bold;
font-size: 20px;
color: #1a1a1a;
padding-left: 10px;
}

.meals-list-item i {
float: right;
padding-right: 10px;
color: 1a1a1a;

}

.meals-list-item p{
font-size: 15px;
font-style: italic;
color: #4d4d4d;
margin-top: -7px;
padding-left: 10px;
}

#meals{
    padding-top: 50px;
}
/* ========recipe=Page========= */

#recipe {
    padding-top: 50px;

}

/* ========recipe=Details========= */
.recipe-details img{
    width: 100%;
}

.recipe-details h1{
    font-size: 25px;
    text-align: center;
    border: 5px solid #1a1a1a;
    margin:10px ;
    padding: 5px;
}

.recipe-details h2 {
font-size: 20px;
text-align: left;
margin: 0;
margin-left: 20px;
}

.recipe-details-info{
    margin-left: 25px;
    margin-right:25px ;
}

.recipe-details-info p {
    font-size: 13px;
    display: inline-block;
}

.recipe-details-ingredients label{
    line-height: 25px;
    margin-left: 10px;
}

.recipe-details-steps{
    padding-top: 20px;
    padding-left: 20px;
}

.recipe-details-steps ol{
padding-left: 28px;    
}

.button{
    font-style: italic;
    color: rgb(21, 24, 235);
    text-decoration: solid;
  text-align: center;}

  .thanks{
    color:green;
    padding-left: 390px;
  }
/* ========responsive-layout========= */

@media only screen and (min-width:600px){
    #meals {
        width: 80%;
        margin: auto;
    }

    #recipe {
        width: 80%;
        margin: auto;
    }

}

@media only screen and (min-width:1000px){
#meals {
    width: 80%;
    margin: auto;
}

#recipe {
    width: 80%;
    margin: auto;
}

}

@media only screen and (min-width:1500px){
    #meals {
        width: 40%;
        margin: auto;
    }
    
    #recipe {
        width: 40%;
        margin: auto;
    }
    
    }

    @media only screen and (min-width:720px){

        .body-home{
            background-image:url("images/landscape.jpg") ;
        }

        .body-meals{
            background-image:url("images/landscape.jpg") ;
 
        }
    }